<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<section id="app">
    <div class="gallery">
        <h3>Gallery</h3>
        <photo-card
                v-for="photo in photos"
                :name="photo.name"
                :src="photo.src"
                @delete-photo="deletePhoto"
                :key="photo.src"
        />
    </div>
    <div class="addPhoto">
        <h3>Add photo</h3>
        <form>
            <label>Название:<input type="text" v-model="newPhoto.name"></label>
            <label>Адрес:<input type="text" v-model="newPhoto.src"></label>
        </form>
        <button @click="addPhoto">Добваить фото</button>
    </div>
</section>
<script src="/js/script.js"></script>
</body>
</html>