/*В css создать 3 класса (zero, not-many, many) для выделения товаров в зависимости от значения count:
//    если значение count равно 0, карточке с товаром добавляется класс zero,
//    если значение count от 1 до 20, карточке с товаром добавляется класс not-many,
//    если значение count от 20, карточке с товаром добавляется класс many.*/

.zero{
    background-color: rgba(255,28,21,0.4);
}

.not-many{
    background-color: rgba(31,87,255,0.4);
}

.many{
    background-color: rgba(47,255,51,0.4);
}